
.layout-header {
    background-color: #a3ac5d;
    block-size: 100px;
}
.layout-header menu {
    padding-left: 20%;
}

.layout-header-link {
    background-color: #a3ac5d;
    text-align: center;
    width: 100px;
    block-size: 100px;
    display: inline-block;
}

.layout-header-link a {
    color: black;
    font-size: 18px;
}

a:hover{
    background-color: white;
}

.layout-separation {
    display: inline-block;
}

.layout-main {
    block-size: 150px;
}

.layout-main-ho h1 {
    font-size: 18px;
    line-height: 0.8;
}

.layout-main-ho {
    width: 23%;
    block-size: 150px;
    display: inline-block;
    margin-left: 15px;
}

.layout-main-ho p {
    font-size: 14px;
    line-height: 0.5;
}
